/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white:  #f3f3f3;
  --yellow: #ffbf00;
  --rose:   #ce7777;
  --navy:   #2b3a55;

  --navy-trans:  rgba( 43,  58,  85, 0.3);
  --white-trans: rgba(243, 243, 243, 0.3);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-text: var(--navy);
  --color-hover: var(--navy-trans);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--navy);
    --color-text: var(--white);
    --color-hover: var(--white-trans);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.3s,
    background-color 0.3s;
  line-height: 1.6;
  font-family:
    Roboto,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    'Nerdfont',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
